body{
    margin: auto;
    background-color:white;
}
header{
    text-decoration: none;
}
a{
    height:30px;
    text-align: center;
    font-style: italic;
    background-color:#5b3baf;
    color: white;
}
#icon{
    
    float: left;
}
.social
{
    float: right;
}
.slogo
{
    height: 50px;
    width: 50px;
}
.social > a{
    text-decoration: none;
}
h1{
    background-color:#5b3baf;
    height: 40px;
    background-size: 100% 40px;
    color: white;
    text-align: center;
    font-style: italic;
}
.hi{
    height: 200px;
    width: 20%;
    text-align: center;
    float:left;
    float:inline-start;
}
.hi> img{
width: 200px;
height: 200px;
}
.para{
    color: slateblue;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    height: 200px;
}

.skills{
    text-align: center;
    height: 100px;
    border: 2px solid slateblue;
    background-size: 100% 100px;
    margin: 2% 2%;
}
.skills> img
{
    width: 100px;
    height: 100px;
}
.edu
{
    height: 200px;
    width:30%;
    background-color: #538d76;
    float: left;
    margin-left: 3%;
    color: white;
}
.edu> img {
    width:200px;
    height:200px;
    float: left;
}
.edu> span{
text-align: center;
font-style: italic;
font-size: 30px;
}
.edu> p{
    text-align: center;
    font-style: italic;
}
.hob{
    height: 200px;
    width:30%;
    background-color: #e576a1;
    float: left;
    font-size: 30px;
    margin-left: 3%;
    color: white;
}
.hob> img{
    height: 200px;
    width:200px;
    float: left;
}
.hob> p{
    text-align: center;
    font-style: italic;
}
.frame{
    height: 350px;
    float: left;
}
.form{
    text-align: center;
    font-style: italic;
}

#main{
    width:100%;
    display:inline-block;
}
footer{
    text-align: center;
    font-style: italic;
    color: rgba(86, 10, 173, 0.863);
}
