body{
    margin: 0;
    padding: 0;
}
header
{
height: 60px;
background-color: #0a2f97;
}
#icon{
    float: left;
}
#social
{
    float: right;
}
.slogo
{
height: 50px;
width: 50px;
float: left;
}
a{
    color: white;
    text-decoration: none;
}

.box{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    display: inline-block;
    background-color:white;
}
.container{
    height:150px;
    width:150px;
    float: left;
}
.container>img
{    
    height:150px;
    width:150px;
    border-radius: 50%;
    margin-left:0%;
    margin-top:2%;
    position: absolute;
}
.text{     
        color: white;
        font-size: 25px;
        font-style: italic;
        text-align:justify;
        overflow: scroll;
        overflow: hidden;
}
h1{
    margin-left: 0%;
    margin-top: -1%;
    position:absolute;
    width: 100%;
    height: 40px;
    background-color: #0a2f97;
    text-align: center;
    font-style: italic;
    color: white;
}
.skills{
        text-align: center;
        height: 100px;
        background-size: 100% 100px;
        margin-left: 0%;
        margin-top: 2.5%;
        margin-bottom: 1%;
}
.skills > img{
    height: 100px;
    width: 100px;
}
.edu{
    height:200px;
    width:30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 20px 10px gray;
}
.edu > img{
    width:45%;
    float: left;
    height:200px;
}
.edu > span
{
    color:orange;
    text-align: center;
    font-size:22px;
    font-weight:bold;
    font-style: italic;
    display:block;
    margin-left: 2%;
}
.edu > p
{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: blueviolet;
    display: block;
}
.hob{
    height:200px;
    width:30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 20px 10px gray;
}
.hob > img
{
    width:48%;
    float: left;
    height:200px;
}
.hob > p
{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: blueviolet;
    display: block;
}
.frame{
    margin-top: 3%;
    margin-left: 1%;
    float: left;
}
.form{
    float: left;
    margin-top: 6%;
    margin-left: 5%;
}
h2{
    margin-left: 0%;
    margin-top: -1%;
    position:absolute;
    width: 100%;
    height: 40px;
    background-color: #0a2f97;
    text-align: center;
    font-style: italic;
    color: white;
}
.main{
    width:100%;
    display:inline-block;
}
footer
{
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: #0a2f97;
    font-size: 12px;
    font-style: italic;
    color: white;
}
